body{
	overflow-x:hidden;
  animation: pagetransition 2.5s;
}
@keyframes pagetransition{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

#back-to-top.show {
  opacity: 1;
}
#back-to-top {
  background: #fea418 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  bottom: 111px !important;
  color: #111;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  outline: medium none;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s ease-out 0s;
  width: 60px;
  z-index: 9999;
}
#back-to-top .fa.fa-angle-double-up {
  padding-top: 5px;
  font-size: 18px;
}
.top_logo-section img {
  display: block;
  margin: 0 auto;
}
.top_logo-section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4b83f+0,f7b022+100 */
  background: rgb(244,184,63); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(244,184,63,1) 0%, rgba(247,176,34,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(244,184,63,1) 0%,rgba(247,176,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(244,184,63,1) 0%,rgba(247,176,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4b83f', endColorstr='#f7b022',GradientType=0 ); /* IE6-9 */
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Menu Style */
nav{
  text-align: center;
}

nav > ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  background: #ddd;
  border-radius: 5px;
}
nav > ul > li {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  float: left;
  font-size: 14px;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  width: 150px;
}
nav >ul >li:hover{
  background: #d5d5d5;
  border-radius: 5px;
}

ul.drop-menu {
  left: -42px;
  padding: 0;
  position: absolute;
  width: 200px;
  z-index: 99999
}
ul.drop-menu li{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,030202+100 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(3,2,2,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(3,2,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(3,2,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#030202',GradientType=0 ); /* IE6-9 */
}
ul.drop-menu li:hover {
  background: #030202 none repeat scroll 0 0;
}
ul.drop-menu li:last-child{
  border-radius: 0px 0px 5px 5px;
}
ul.drop-menu li{
  display: none;
}
li:hover >ul.drop-menu li{
  display: block;
}

li:hover > ul.drop-menu.menu-2{
  perspective:1000px
}


li:hover > ul.drop-menu.menu-2 li{
  opacity:0
}

li:hover > ul.drop-menu.menu-2 li:nth-child(1){
  -webkit-animation-name:menu2;
  animation-name:menu2;
  -webkit-animation-duration:0.5s;
  animation-duration:0.5s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards; 
}
li:hover > ul.drop-menu.menu-2 li:nth-child(2){
  -webkit-animation-name:menu2;
  animation-name:menu2;
  -webkit-animation-duration:0.8s;
  animation-duration:0.8s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards; 
}
li:hover > ul.drop-menu.menu-2 li:nth-child(3){
  -webkit-animation-name:menu2;
  animation-name:menu2;
  -webkit-animation-duration:1.1s;
  animation-duration:1.1s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards; 
}
li:hover > ul.drop-menu.menu-2 li:nth-child(4){
  -webkit-animation-name:menu2;
  animation-name:menu2;
  -webkit-animation-duration:1.4s;
  animation-duration:1.4s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards; 
}
li:hover > ul.drop-menu.menu-2 li:nth-child(5){
  -webkit-animation-name:menu2;
  animation-name:menu2;
  -webkit-animation-duration:1.7s;
  animation-duration:1.7s;
  -webkit-animation-timing-function:ease-in-out;
  animation-timing-function:ease-in-out;
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards; 
}


@keyframes menu2{
  0%{
    opacity: 0;
    transform: translateX(-300px) rotateX(-230deg) scaleX(3);
  }
  50%{
   transform: translateY(-30px);
 }
 100%{
  opacity: 1;
  transform: translateX(0px) rotateY(0deg) translateY(0px);
}
}
.drop-menu.menu-2 > li {
  border-bottom: 1px solid #F5B636;
  border-radius: 15px 0;
  list-style: outside none none;
  padding: 9px 14px;
}
.drop-menu.menu-2 > li:last-child {
  border-bottom: 1px solid #F5B636;
  border-radius: 15px 0;
  margin-top: 1px;
}

/* end menu Section */

.navigation-menu_section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,030202+100 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(3,2,2,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(3,2,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(3,2,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#030202',GradientType=0 ); /* IE6-9 */
  position: absolute;
  top: 90px;
  transition: all 0s ease 0s;
  width: 100%;
  z-index: 9999;
}
.darkHeader {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,030202+100 */
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(3,2,2,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(3,2,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(3,2,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#030202',GradientType=0 ); /* IE6-9 */
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 9999;
}
.home_main-slider {
  margin-top: 52px;
  overflow: hidden;
}
.navigation-menu_section .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navigation-menu_section .navbar {
  margin-bottom: 0px;
}
.darkHeader .navbar-brand img {
  animation: 3s ease 0s normal none infinite running pulse;
  margin-right: 15px;
  position: relative;
  top: -8px;
  width: 180px;
}
.darkHeader .container {
  width: 1200px;
}
.darkHeader .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #fff;
  font-family: Lato;
  letter-spacing: 1px;
}
.darkHeader .navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0px;
}
.darkHeader .navbar-default .navbar-nav > li > a {
  color: #f7b022;
  font-family: Lato;
  transition: all 0.3s ease 0s;
}
.main-menu-list {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.navigation-menu_section .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #fff;
  font-family: Lato;
  letter-spacing: 1px;
}
.navigation-menu_section .navbar-default .navbar-nav > li > a {
  color: #f7b022;
  font-family: Lato;
  transition: all 0.3s ease 0s;
}
.navigation-menu_section .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
  color: #fff !important;
}
.extra_sub-menu-section a {
  color: #f7b022;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.drop-menu.menu-2 > li:hover > a{
  color: #fff !important;
}
.navigation-menu_section .navbar-brand img {
  position: relative;
  top: -9px;
  width: 180px;
  margin-right: 13px;
}
.another_extra_sub-menu-section {
  left: 23px !important;
}
.navigation-menu_section .container {
  width: 1200px;
}


/* Home main Slider */
@keyframes zoom {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.0, M12=0, M21=0, M22=1.0, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.0, M12=0, M21=0, M22=1.0, SizingMethod='auto expand');
  }
  to {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand');
  }
}
#home-slider-container {
  position: relative;
  width: 100%;
  height: 680px;
}
#home-slider-container .container {
  height: 100%;
}
#home-slider-container .container .slider-controls {
  position: relative;
  height: 100%;
}
#home-slider-container .container .slider-controls .slider-next, #home-slider-container .container .slider-controls .slider-prev {
  position: absolute;
  margin-top: -20px;
  top: 50%;
  z-index: 9999;
  width: 40px;
  height: 40px;
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  opacity: 0.5;
  text-decoration: none;
}
#home-slider-container .container .slider-controls .slider-next:focus, #home-slider-container .container .slider-controls .slider-prev:focus {
  outline: none;
}
#home-slider-container .container .slider-controls .slider-next:hover, #home-slider-container .container .slider-controls .slider-prev:hover {
  opacity: 1;
}
#home-slider-container .container .slider-controls .slider-next i, #home-slider-container .container .slider-controls .slider-prev i {
  font-size: 100px;
  color: #000;
}
#home-slider-container .container .slider-controls .slider-prev {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin-left: 20px;
  left: 0;
}
#home-slider-container .container .slider-controls .slider-next {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  margin-right: 20px;
  right: 0;
}
#home-slider-container #home-slider {
  height: 100%;
  width: 100%;
  position: relative;
}
#home-slider-container #home-slider .slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
#home-slider-container #home-slider .slick-dots li {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 26px;
  height: 12px;
  margin: 0px 5px;
}
#home-slider-container #home-slider .slick-dots li.slick-active:after, #home-slider-container #home-slider .slick-dots li:hover:after {
  background-color: #F5B431;
  border: 1px solid #F5B431;
}
#home-slider-container #home-slider .slick-dots li button {
  display: none;
}
#home-slider-container #home-slider .slick-dots li:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35px;
  height: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  -ms-transition: background-color 0.6s ease;
}
#home-slider-container #home-slider .slider-item {
  position: relative;
  width: 100%;
  height: 100%;
}
#home-slider-container #home-slider .slider-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 100%;
  min-height: 680px;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: zoom 14s ease-in-out infinite alternate;
  -moz-animation: zoom 14s ease-in-out infinite alternate;
  -o-animation: zoom 14s ease-in-out infinite alternate;
  -ms-animation: zoom 14s ease-in-out infinite alternate;
  animation: zoom 14s ease-in-out infinite alternate;
}
.home_main-slider .slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.interested_member_button a {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgb(255, 197, 120) 0%, rgb(251, 157, 35) 100%) repeat scroll 0 0;
  border: 0 solid transparent;
  border-radius: 8px;
  color: #000;
  font-family: Fredericka the Great;
  font-size: 36px;
  font-weight: bold;
  padding: 12px 25px;
  text-shadow: 0 0 10px #fff;
}
.interested_member_button a:hover {
  color: #000;
  background: #F5B534;
  text-shadow: 0 0 10px #fff;
}
.interested_member {
  padding-bottom: 70px;
  padding-top: 70px;
  background: #222;
  border-top: 0px solid #F5B636;
  border-bottom: 0px solid #F5B636;
}
.interested_member-indicator {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  margin-left: 10px;
  position: relative;
  top: -2px;
}
.interested_member-indicator img {
  display: inline-block;
  width: 50px;
}
.about_para {
  color: #444;
  font-family: Lato;
  font-size: 14px;
  text-align: justify;
}
.about-bcsa_slider img {
  margin-top: 76px;
  min-height: 450px;
  width: 100%;
}
.about_bcsa .slick-track {
  height: 530px;
}
.about-bcsa_slider .slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.about-bcsa_slider {
  height: 450px;
  margin-top: 42px;
}

.about_bcsa h2 {
  font-size: 40px;
  font-family: Philosopher;
  font-weight: bold;
  color: #000;
}
.about_border-bottom {
  display: block;
  margin: 15px auto 17px;
  width: 500px;
}
.about_bcsa {
    padding-top: 52px;
    padding-bottom: 81px;
}
.about_left-section h3 {
  color: #ea9c00;
  font-family: Calligraffitti;
  font-size: 28px;
  margin-top: 50px;
}
.about_left-section hr {
  border-color: #c98702;
  margin-top: 0;
  width: 39%;
}
.slick-dots li button::before {
  color: #f5b536;
  font-size: 24px;
  opacity: 0.8;
}
.about_read-more_indicator {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  left: 4px;
  position: relative;
  top: 2px;
}
.about_read-more-button {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
  background: rgb(255,197,120); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
  border: 0px solid transparent;
  color: #000;
  transition: all 0.3s;
  font-weight: bold;
  font-family: Philosopher;
  font-size: 15px;
}
.gallery_section {
    background: #222;
    padding-bottom: 81px;
    padding-top: 52px;
    position: relative;
}
.gallery_section h2 {
  color: #fff;
  font-family: Philosopher;
  font-size: 40px;
  font-weight: bold;
}
.gallery_border-bottom {
  display: block;
  margin: 15px auto 64px;
  width: 500px;
}
.nav > li > a {
  display: block;
  padding: 10px 11px;
  position: relative;
}
.navbar-nav > li > a {
  line-height: 20px;
  padding-bottom: 14px !important;
  padding-top: 16px !important;
}

.inner-page{
	padding-top: 0px;
}

.cbp-l-filters-alignRight {
  margin-bottom: 30px;
  text-align: center;
}
.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active {
  background-color: #f5b535;
  border-color: #f5b535;
  color: #000;
  cursor: default;
  font-weight: bold;
}

.cbp-l-filters-alignRight .cbp-filter-item {
  border: 1px solid #f6b229;
  color: #f6b229;
  font-size: 16px;
  font-family: Lato;
  text-transform: none;
}
.cbp-l-filters-alignRight .cbp-filter-counter::after {
  border-top: 4px solid #f5b535;
}
.cbp-l-filters-alignRight .cbp-filter-counter {
  background-color: #f5b535;
  color: #222;
  font-size: 14px;
  font-weight: bold;
}
.cbp-l-filters-alignRight .cbp-filter-item:hover {
  color: #fff;
}
.grid {
  margin-bottom: 0;
}

.cbp-l-caption-alignCenter .cbp-l-caption-body {
  background: #000 none repeat scroll 0 0;
  border-bottom: 1px solid #f5b431;
  border-left: 1px solid #f5b431;
  border-right: 1px solid #f5b431;
}
.cbp-l-caption-title {
  color: #f5b534;
  font: 600 16px/21px "Open Sans",sans-serif;
}
.cbp-l-caption-desc {
  color: #fff;
}

.gallery_viewall_button {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
  color: #f5b534;
  float: none;
  font-family: Lato;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  margin-top: 45px;
}
.member_table-image {
  border-radius: 100%;
  display: block;
  margin: 0 auto 18px;
  width: 100px;
}
.pricing--norbu .pricing__item:hover > a{
  color: #fff;
}
.bcsa_members h2 {
  font-family: Philosopher;
  font-size: 40px;
  font-weight: bold;
  color: #000;
}
.members_border-bottom {
  display: block;
  margin: 15px auto 10px;
  width: 500px;
}
.bcsa_members {
    padding-bottom: 80px;
    padding-top: 52px;
}

.bcsa_members_para {
  font-family: Lato;
  margin-bottom: 45px;
  padding: 0 110px;
  font-size: 16px;
}


#google-map {
  padding: 0;
}
#map-canvas {
  height: 900px;
  width: 100%;
}
.contact {
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  bottom: 0;
  height: 398px;
  left: 0;
  padding: 50px;
  position: absolute;
  top: 81px;
  width: 40%;
  z-index: 999;
}
.contact h2 {
  color: #f5b431;
  font-family: Fredericka the Great;
  font-size: 32px;
  font-weight: 100;
  text-shadow: 0px 0px 10px #000;
}
.contact .address {
  margin-top: 40px;
}
.contact .address ul li span {
  display: table-cell;
  font-size: 20px;
}
.contact .address ul li p {
  color: #fff;
  display: table-cell;
  font-family: Philosopher;
  font-size: 16px;
  padding-left: 20px;
  vertical-align: middle;
}
.button-large a {
  background: #07cb79 none repeat scroll 0 0;
  border-radius: 3px;
  color: #ffffff;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
}
.contact .button-large a {
  font-size: 14px;
  padding: 20px 30px;
}

.contact_us-section {
  position: relative;
}

.address > ul {
  list-style: outside none none;
  padding-left: 0;
}
.address li {
  color: #F5B536;
  margin-bottom: 10px;
}

.mail_contact {
  color: #fff;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  top: -3px;
  transition: all 0.3s ease 0s;
}
.mail_contact:hover {
  color: #F5B431;
  text-decoration: none;
}
.facebook_contact {
  color: #fff;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  top: -3px;
  transition: all 0.3s ease 0s;
}
.facebook_contact:hover {
  color: #F5B431;
  text-decoration: none;
}
.contact_us-section {
    background: #222 none repeat scroll 0 0;
    padding-bottom: 75px;
    padding-top: 80px;
}
.members_short {
  font-size: 22px;
  font-family: Philosopher;
  color: #444;
}
.copyright_section-left img {
  position: relative;
  top: 11px;
  transition: all 0.7s ease 0s;
  width: 140px;
}
.copyright_section-left img:hover {
  transform: scale(1.1);
}
.copyright_section-left li {
  font-size: 16px;
  font-family: Lato;
  color: #000;
}
.copyright_section {
  padding-bottom: 20px;
  padding-top: 20px;
}
.developed_company li {
  font-family: Lato;
  font-size: 16px;
  position: relative;
  top: -6px;
}
.developed_company img {
  position: relative;
  top: 14px;
  width: 140px;
  transition: all 0.7s;
}
.developed_company img:hover {
  transform: scale(1.1);
}
.ti-settings {
  color: #f5b534;
  font-size: 18px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.contact-us_border-bottom {
  margin-top: 20px;
  width: 300px;
}
.home_main-slider.vegas-container {
  min-height: 700px !important;
}