body {
  font-family: Lato;
  overflow-x: hidden;
}

#back-to-top.show {
  opacity: 1;
}
#back-to-top {
  background: #ea1e63  none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  bottom: 73px !important;
  color: #fff;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
  height: 36px;
  line-height: 34px;
  opacity: 0;
  outline: medium none;
  position: fixed;
  right: 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.2s ease-out 0s;
  width: 43px;
  z-index: 9999;
}

.top_header {
  padding: 13px 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.top_header .list-inline.top_header_left a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}
.top_header .list-inline.top_header_left a:hover {
  color: #e71b62;
  opacity: 1;
}
.list-inline.top_header_right.pull-right a {
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
  padding: 17px 8px;
  transition: all 0.4s ease 0s;
}
.list-inline.top_header_right.pull-right a:hover {
  color: #e71b62;
  opacity: 1;
}
.list-inline.top_header_right.pull-right > li {
  padding: 0;
}
.main_logo {
  display: block;
  margin: 0 auto;
  transition: all 0.4s ease 0s;
  width: 142px;
}
.main_logo:hover {
  transform: scale(1.3);
}
.logo_section {
  border-top: 1px solid #666;
  padding: 37px 0 35px;
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 5;
}
.menu_bar .navbar-header {
  display: block;
  margin: 0 auto 0 19%;
  text-align: center;
}
.menu_bar .navbar-default {
  background-color: transparent;
  border-color: transparent;
}
#brand {
  width: 75px;
}
.slider_content img {
  background-position: center center;
  background-size: cover;
  height: 980px !important;
  width: 100%;
}
.navigation_bar {
  animation-iteration-count: infinite;
  animation-name: navbar_animate;
  position: fixed;
  top: 169px;
  width: 100%;
  z-index: 5;
  transition: all 0.6s ease 0s;
}
/*@keyframes navbar_animate {
  0% {
    transform: scaleX(1);
  }
  
  100%{
    transform: scaleX(1.3);
  }
}*/
.menu_bar .nav.navbar-nav a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.8;
  transition: all 0.4s ease 0s;
}
.menu_bar .nav.navbar-nav a:hover {
  color: #e81e62;
  opacity: 1;
}

.fa.fa-angle-right {
  font-size: 29px;
  position: relative;
  top: 50%;
  z-index: 5;
}
.fa.fa-angle-left {
  font-size: 30px;
  position: relative;
  top: 50%;
  z-index: 5;
}
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  opacity: 0;
  transition: all 0.4s ease 0s;
  width: 9%;
}
.carousel-control.left:hover {
  opacity: 1;
  color: #ec1860;
}
.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  left: auto;
  opacity: 0;
  right: 0;
  transition: all 0.4s ease 0s;
  width: 9%;
}
.carousel-control.right:hover {
  color: #ec1860;
  opacity: 1;
}
.menu_bar {
  border-bottom: 0px solid #424242;
  border-top: 0px solid #424242;
  background-color:/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,ffffff+0,ffffff+10,ffffff+19,ffffff+29,ffffff+39,ffffff+50,ffffff+60,ffffff+70,ffffff+80,ffffff+90,ffffff+100&0+0,0.05+10,0.1+19,0.15+29,0.18+39,0.2+50,0.18+60,0.15+70,0.1+80,0.05+90,0+100 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.05) 10%, rgba(255,255,255,0.1) 19%, rgba(255,255,255,0.15) 29%, rgba(255,255,255,0.18) 39%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.18) 60%, rgba(255,255,255,0.15) 70%, rgba(255,255,255,0.1) 80%, rgba(255,255,255,0.05) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.05) 10%,rgba(255,255,255,0.1) 19%,rgba(255,255,255,0.15) 29%,rgba(255,255,255,0.18) 39%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.18) 60%,rgba(255,255,255,0.15) 70%,rgba(255,255,255,0.1) 80%,rgba(255,255,255,0.05) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.05) 10%,rgba(255,255,255,0.1) 19%,rgba(255,255,255,0.15) 29%,rgba(255,255,255,0.18) 39%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.18) 60%,rgba(255,255,255,0.15) 70%,rgba(255,255,255,0.1) 80%,rgba(255,255,255,0.05) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.carousel-inner {
  height: 980px;
}
.carousel-caption {
  left: 20%;
  padding-bottom: 30px;
  position: absolute;
  right: 20%;
  top: 46%;
}
.slider_content h3 {
  animation-delay: 0.6s;
  animation-duration: 3.5s;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
#slider_first_hr {
  animation-delay: 0.7s;
  animation-duration: 3.5s;
  border-color: #ea1c64;
  margin-bottom: 27px;
  margin-top: 13px;
  width: 55px;
}
.amazing {
  animation-delay: 0.8s;
  animation-duration: 3.5s;
  color: #ddd;
  font-weight: 600;
  opacity: 0.8;
}
.slider_content_para {
  animation-delay: 1s;
  animation-duration: 3.5s;
  color: #ccc;
  font-size: 16px;
  margin-bottom: 31px;
  margin-top: 28px;
}
.btn.btn-danger.slider_content_button.animated.fadeIn {
  animation-delay: 1.2s;
  animation-duration: 3.5s;
  background-color: #ea1e63;
  border: 1px solid #ea1e63;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 34px;
  transition: all 0.4s ease 0s;
}
.btn.btn-danger.slider_content_button.animated.fadeIn:hover {
  background: #b50a3c none repeat scroll 0 0;
  border: 1px solid #b50a3c;
  transform: scale(0.9);
}
 .slider_content sup {
  color: #ea1e63;
}
.slider .carousel-indicators li {
  background-color: #616161;
  border: 1px solid #616161;
}
.carousel-indicators .active {
  background-color: #ea1e63 !important;
  border: 1px solid #ea1e63 !important;
  height: 12px;
  margin: 0;
  width: 12px;
}
.darkHeader {
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: navbar_animate;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  transition: all 0.6s ease 0s;
}
.darkHeader .menu_bar {
  background: /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,ffffff+0,000000+10,000000+19,000000+29,000000+39,000000+50,000000+60,000000+70,000000+80,000000+90,ffffff+100&0+0,0.1+10,0.2+19,0.3+29,0.4+39,0.5+50,0.4+60,0.3+70,0.2+80,0.1+90,0+100 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.2) 19%, rgba(0,0,0,0.3) 29%, rgba(0,0,0,0.4) 39%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.2) 80%, rgba(0,0,0,0.1) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0.2) 19%,rgba(0,0,0,0.3) 29%,rgba(0,0,0,0.4) 39%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.1) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,0.1) 10%,rgba(0,0,0,0.2) 19%,rgba(0,0,0,0.3) 29%,rgba(0,0,0,0.4) 39%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.2) 80%,rgba(0,0,0,0.1) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  border-bottom: 0px solid #424242;
  border-top: 0px solid #424242;
}
.lifestyle .lifestyle_text.text-center {
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.lifestyle {
  padding-top: 118px;
}
.lifestyle_line {
  border-color: #ea1e63;
  margin-top: 0;
  width: 67px;
}
.lifestyle_head.text-center {
  color: #ea1e63;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 31px;
}
.lifestyle .list-inline.lifestyle_list {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.list-inline.lifestyle_list a {
  color: #a0a0a0;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.list-inline.lifestyle_list a:hover {
  color: #ea1e63;
}
.img-responsive.lifestyle_img {
  margin-top: 37px;
  opacity: 0.7;
  transition: all 0.9s ease 0s;
  width: 100%;
}
.img-responsive.lifestyle_img:hover {
  opacity: 1;
  transform: scaleX(1.1);
}
.lifestyle .container {
  overflow: hidden;
}
.text-center.lifestyle_img_bottom_para {
  color: #626262;
  font-size: 16px;
  margin-bottom: 53px;
  margin-top: 37px;
}

.btn.btn-danger.lifestyle_btn {
  display: block;
  margin: 0 auto;
  background-color: #ea1e63;
  border: 1px solid #ea1e63;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 34px;
  transition: all 0.4s ease 0s;
}
.btn.btn-danger.lifestyle_btn:hover {
  background: #b50a3c none repeat scroll 0 0;
  border: 1px solid #b50a3c;
  transform: scale(0.9);
}
.list-inline.share_post {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  display: block;
  margin-bottom: 0;
  margin-top: 58px;
  padding: 19px 0;
  text-align: center;
}
.share_text {
  color: #9e9e9e;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}
.list-inline.share_post a {
  color: #9e9e9e;
  font-size: 16px;
  padding: 6px 8px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.list-inline.share_post a:hover {
  color: #ea1e63;
}
.list-inline.share_post > li {
  padding: 0;
}
#chief_text h2 {
  color: #222222;
  font-weight: 600;
  margin-top: 117px;
}
#chief_text > h1 {
  color: #ea1e63;
  font-weight: 600;
  letter-spacing: 2px;
}
#chief_text > hr {
  border-color: #ea1e63;
  margin-left: 0;
  width: 190px;
}
#chief_text > p {
  color: #626262;
  font-size: 16px;
  text-align: justify;
}
#chief-description_one {
  margin-top: 34px;
}

.owl-lazy {
  height: 200px;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 1;
  transition: opacity 0.4s ease 0s;
}
.portfolio_items {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #ff538d;
  margin-bottom: 28px;
  padding-bottom: 3px;
}
.demo-1 {
  background-color: #424242;
  float: left;
  height: 184px;
  list-style: outside none none;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.demo-1 h2 {
  font-family: "Lato";
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}
.demo-1 p, .demo-1 h2 {
  color: #fff;
  left: -20px;
  padding: 6px 0;
  position: relative;
  top: 13px;
}
.demo-1 p {
  font-family: "Lato";
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
.img-responsive.portfolio_img {
  height: 195px;
  opacity: 1;
  transition: all 0.7s ease 0s;
  width: 100%;
}
.effect img {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: top 0.4s ease-in-out 0s, right 0.4s ease-in-out 0s;
}
.img-responsive.portfolio_img:hover {
  opacity: 0.2;
  transform: scale(1.2);
}

.owl-nav {
  display: none;
}
.meet_team {
  background: #ea1e63 none repeat scroll 0 0;
  padding-bottom: 114px;
  padding-top: 97px;
}

.project_title {
  color: #fcfffd;
  font-weight: 600;
}
.text-center.project_para {
  color: #232323;
  font-size: 14px;
  font-weight: bold;
}
.meet_team hr {
  margin-bottom: 35px;
  margin-top: 12px;
  width: 150px;
}
.text-center.meet_team_head {
  font-weight: 600;
}
.text-center.meet_team_para {
  color: #e3e3e3;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 38px;
}
.editor_in_chief {
  overflow: hidden;
}
.chief_img img {
  transition: all 0.7s ease 0s;
}
.chief_img img:hover {
  transform: scale(1.1);
}
.chief_img {
  overflow: hidden;
}


.our_service_bunner img {
  height: 361px !important;
}

.our_service_bunner_ul {
  background-color: #111 !important;
  height: 361px !important;
}

.our_service_bunner {
  border: 0 solid #000 !important;
}
.our_service_bunner h2 {
  font-size: 30px;
  left: 0 !important;
  margin-bottom: 0;
  margin-top: 12px;
  text-align: center !important;
}
.our_service_bunner p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.our_service_bunner_button {
  border-radius: 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 44px auto 0;
}
.our_service_bunner_button:hover {
  background: #b50a3c none repeat scroll 0 0;
  border: 1px solid #b50a3c;
  transform: scale(0.9);
}
.our_service_bunner_ul hr {
  border-color: #ea1e63;
  width: 120px;
}
.slick-slide img {
  display: block;
  height: 361px;
  width: 100%;
}

.slick-dots li.slick-active button::before {
  color: black;
  opacity: 1;
  background: #ea1e63;
}
.slick-dots li button::before {
  border: 3px solid #ea1e63;
  border-radius: 50%;
  color: black;
  content: "•";
  font-family: "slick";
  font-size: 0;
  height: 12px;
  left: 0;
  line-height: 20px;
  opacity: 0.25;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 12px;
}
.text-center.service_head {
  color: #ea1e63;
  font-size: 28px;
  font-weight: bold;
  margin-top: 118px;
}
.our_service .text-center.service_para {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 70px;
  margin-top: 48px;
}

.small_img img {
  height: 100px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 10px;
}
.borad_img img {
  height: 280px;
  width: 100%;
}
.service_item_separate {
  margin-top: 42px;
}
.img-responsive.service_item_separate_a {
  width: 100%;
}
.service_item_separate p {
  color: #ea1e63;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
}
.service_item_separate h2 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.service_item_separate h4 {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: justify !important;
}
.service_item_separate button {
  background: #ea1e63 none repeat scroll 0 0;
  border-radius: 0;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  padding: 6px 15px;
  transition: all 0.4s;
}
.service_item_separate button:hover {
  background: #b50a3c none repeat scroll 0 0;
  border: 1px solid #b50a3c;
  transform: scale(0.9);
}
.service_banner_another h2 {
  color: #ea1e63;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 28px;
  margin-top: 66px;
  letter-spacing: 2px;
}
.bottom_services_container {
  margin-top: 65px;
}


.list-item_section {
  list-style: outside none none;
  position: relative;
}
.list-item_section::after {
  border-right: 1px solid #fff;
  content: "";
  height: 100%;
  left: 68px;
  position: absolute;
  top: 0;
}

.round_border {
  background: #fff none repeat scroll 0 0;
  border: 5px solid #424242;
  border-radius: 100%;
  content: "";
  height: 20px;
  left: 59px;
  position: absolute;
  right: 0;
  width: 20px;
  z-index: 999;
}
.year {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  width: 54px;
}
.list_discription {
  color: #232323;
  float: left;
  font-size: 16px;
  margin-left: 125px;
  position: relative;
  text-align: justify;
  top: -18px;
  width: calc(100% - 125px);
}

.border_dashed {
  border-top: 1px dashed #fff;
  content: "";
  left: 82px;
  position: absolute;
  transform: translateY(10px);
  width: 37px;
  z-index: 0;
}
.main-list {
  margin-top: 43px;
  position: relative;
  padding: 0px;
}
.our_service {
  padding-bottom: 127px;
}
.history_section {
  padding-bottom: 106px;
  padding-top: 100px;
  background: #EA1E63;
}
.history_section_banner h2 {
  margin-top: 20px !important;
}
.history_section .text-center.history_section_para {
  color: #232323;
  font-size: 16px;
  text-align: justify;
}
.history_section hr {
  width: 200px;
}
.history_section h1 {
  color: #434343;
  letter-spacing: 1px;
  margin-bottom: 56px;
}
.history_section h2 {
  font-size: 22px;
  font-weight: 600;
}
.yearly_achivement {
  color: #ffffff;
  letter-spacing: 5px;
  margin-bottom: 0;
  margin-top: 46px;
  padding-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}
.our_service hr {
  margin-bottom: 0;
  width: 410px;
}
.testimonials {
  padding-bottom: 118px;
}
.testimonials_media .media-object {
  border-radius: 50%;
}
.media.testimonials_media {
  border: 1px solid #ea1e63;
}
.testimonials_media .media-object {
  border-radius: 50%;
  left: 40%;
  position: absolute;
  top: -39px;
  z-index: 9999;
}
.testimonials_media_body .media-heading {
  color: #ea1e63;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
  text-align: center;
}
.slick-prev::before {
  content: "";
}
.slick-next::before {
  content: "";
}
#testimonials_media_body_para_one {
  margin-bottom: 18px;
  margin-top: 20px;
  text-align: center;
}
#testimonials_media_body_para_two {
  font-weight: 600;
  margin-bottom: 26px;
  margin-right: 8px;
  text-align: right;
}
.testimonials .text-center.testimonials_head {
  margin-top: 120px;
  color: #EA1E63;
  font-weight: 600;
  letter-spacing: 2px;
}
.testimonials .slick-slide > hr {
  width: 360px;
}
.testimonials .text-center.testimonials_para {
  font-size: 18px;
  margin-bottom: 75px;
  margin-top: 30px;
}
.contact_us_top_head {
  font-size: 28px;
  color: #fff;
}
.contact_us_bottom_head {
  font-size: 36px;
  font-weight: 600;
  margin-top: 0;
  color: #EA1E63;
}
.contact_us_para {
  color: #fff;
  font-size: 16px;
  margin-bottom: 22px;
  margin-top: 23px;
}
.address_home .fa.fa-home {
  color: #ea1e63;
  font-size: 18px;
  margin-right: 6px;
}
.contact_us_mail .fa.fa-envelope-o {
  color: #ea1e63;
  font-size: 18px;
  margin-right: 6px; 
}
.contact_us_phone .fa.fa-phone {
  color: #ea1e63;
  font-size: 18px;
  margin-right: 6px; 
}
.follow_us {
  color: #ea1e63;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 43px;
}
.contact_us_social_icon {
  float: left !important;
}
.contact_us {
  background: rgba(0, 0, 0, 0) url("../img/hmk1.jpg") repeat scroll center center / cover ;
  padding-bottom: 124px;
}
.address_home {
  color: #fff;
  font-size: 14px;
}
.contact_us_mail > a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.contact_us_mail > a:hover {
  color: #EA1E63;
}
.contact_us_phone {
  color: #fff;
}
.follow_us_hr {
  margin-left: 0;
  width: 70px;
}
.contact_map {
  border: 10px solid #ea1e63;
  border-radius: 0;
  margin-top: 125px;
}
.contact_map iframe {
  margin-top: 0px;
  margin-bottom: -4px;
}
.contact_us_top_head {
  color: #fff;
  font-size: 28px;
  margin-top: 118px;
}
.contact_us_form_head {
  color: #fff;
  margin-bottom: 36px;
  margin-top: 118px;
}
.contact_us_form .form-control {
  border: 1px solid #fff;
  border-radius: 0;
}
.contact_us_form .btn.btn-danger.pull-right {
  background: #ea1e63 none repeat scroll 0 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  padding: 6px 25px;
  transition: all 0.4s;
  border-radius: 0;
  border: 1px solid #ea1e63;
}
.contact_us_form .btn.btn-danger.pull-right:hover {
  background: #b50a3c none repeat scroll 0 0;
  border: 1px solid #b50a3c;
  transform: scale(0.9);
}
.footer_para.text-center img {
  margin: 0 10px 0 11px;
  width: 60px;
  transition: all 0.4s;
}
.footer_para.text-center img:hover {
  transform: scale(1.3);
}
.footer {
  background: #424242;
  padding-bottom: 33px;
  padding-top: 42px;
  border-top: 1px solid #EA1E63;
}
.footer_para.text-center {
  color: #fff;
  font-weight: 600;
}

